.pull-down 	
{
	width: 95%; 
	background-color: #fff; 
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.3);
	box-sizing: border-box;-moz-box-sizing: 
	border-box;-webkit-box-sizing: 
	border-box;
	display: block;
}
.pin_info {background-color: #FFFFFF; overflow: auto ; height: 400px; display: none; }
#map_canvas {
    width: 100%;
    height: 400px;
    
	} 
#map_canvas img {
 max-width: none !important; 
    height: auto !important; 
    background: none !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
} 